<p style="color: green"><%= notice %></p>

<%= render @user %>

<div style="margin-bottom: 16px;">
  <strong>Content:</strong> <%= @user.microposts[0].content %>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
